@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/* font-family: 'Dancing Script', cursive; */

*{
    border: 0px;
    margin: 0px;
}

header{
    text-align: center;
    background-color: rgb(255, 0, 140);
}
header > h1{
    font-family: 'Bebas Neue', cursive;
    color: rgb(5, 5, 59);
    font-size: 2.7em;
}
header > h3{
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(0, 0, 58);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
}
header > h3 > a{
   text-decoration: none;
   color: rgb(0, 0, 58);
}
header > h3 > a:hover{
   text-decoration: underline;
}
header > nav{
    font-size: 1.1em;
    word-spacing: 1em;
    padding-bottom: 10px;
}
header > nav > a{
    text-decoration: none;
    color: rgb(0, 0, 58);
}
header > nav > a:hover{
    background-color: rgba(131, 131, 138, 0.267);
    border-radius: 6px;
    padding: 4px;
}
main{
    min-width: 250px;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(207, 232, 238);
    box-shadow: 0px 1px 5px 0px darkgray;
 }
 .one{
    background-color: rgb(207, 232, 238);
    padding-top: 15px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
    padding-right: 15px;
 }
.img1{
   width: 70px;
   position: relative;
   top: 15px;
   padding-top: -20px;
}
 .img2{
   width: 75%;
   display: block;
   margin: auto;
   padding-top: 10px;
   padding-bottom: 10px;
 }

 .two{
    background-color: rgb(207, 232, 238);
    padding-top: 15px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
    padding-right: 15px;
 }
 .two > p{
    padding-top: 10px;
    padding-bottom: 10px;
 }

 #video{
    background-color: rgb(207, 232, 238);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    text-transform: capitalize;
    padding-bottom: 15px;
 }
 .three{
    background-color: rgb(207, 232, 238);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin-top: -4px;
    text-align: justify;
    padding-bottom: 25px;
 }
 .three > ul{
    padding-top: 13px;
    padding-bottom: 13px;
    line-height: 30px;
    list-style-type: '\2714\00A0\00A0';
 }

 .four{
   background-color: rgb(207, 232, 238);
    font-family:'Dancing Script', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 33px;
 }
 
 iframe{
   padding-bottom: 10px;
 }

 footer{
   background-color: rgb(0, 47, 68);
   color: rgba(255, 255, 255, 0.678);
    line-height:32px;
    text-align: center;
    padding-top:11px;
    padding-bottom: 7px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    }

    footer > a{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.678);
    }
    #foot:hover{
      text-decoration: underline;
    }
    #fot{
      font-weight: bold;
      padding-bottom: 5px;
    }