@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    border: 0px;
    margin: 0px;
}

@media (min-height:668px){
    header{
        height: 179px;
    }
    h1, h3, nav{
        position: relative;
        top: 10px;
    }
}
header{
    text-align: center;
    background-color: rgb(255, 0, 140);
}
header > h1{
    font-family: 'Bebas Neue', cursive;
    color: rgb(5, 5, 59);
    font-size: 2.7em;
}
header > h3{
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(0, 0, 58);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
}
header > h3 > a{
   text-decoration: none;
   color: rgb(0, 0, 58);
}
header > h3 > a:hover{
   text-decoration: underline;
}
header > nav{
    font-size: 1.1em;
    word-spacing: 1em;
    padding-bottom: 10px;
}
header > nav > a{
    text-decoration: none;
    color: rgb(0, 0, 58);
}
header > nav > a:hover{
    background-color: rgba(131, 131, 138, 0.267);
    border-radius: 6px;
    padding: 4px;
}
.img1{
    width: 70px;
    position: relative;
    top: 15px;
    padding-top: -20px;
 }

main{
    min-width: 250px;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(207, 232, 238);
    box-shadow: 0px 1px 5px 0px darkgray;
}
#his{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    padding-top: 32px;
    padding-bottom: 32px;
}

.text{
    text-align: justify;
    text-indent: 33px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 23.3px;
    padding-bottom: 5px;
}

#last{
    font-style: italic;
    font-size: 21px;
    padding-bottom: 20px;
}
footer{
    background-color: rgb(0, 47, 68);
    color: rgba(255, 255, 255, 0.678);
     line-height: 31px;
     text-align: center;
     padding-top:11px;
     padding-bottom: 7px;
     font-size: 1em;
     font-family: Arial, Helvetica, sans-serif;
     }
 
     footer > a{
       text-decoration: none;
       color: rgba(255, 255, 255, 0.678);
     }
     #foot:hover{
       text-decoration: underline;
     }
     #fot{
       font-weight: bold;
       padding-bottom: 5px;
     }