@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    border: 0px;
    margin: 0px;
}

header{
    text-align: center;
    background-color: rgb(255, 0, 98);
}
header > h1{
    font-family: 'Bebas Neue', cursive;
    padding-top: 20px;
    color: rgb(5, 5, 59);
}
header > h3{
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 58);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header > nav{
    font-size: 1.1em;
    word-spacing: 1em;
    padding-bottom: 5px;
}
header > nav > a{
    text-decoration: none;
    color: white;
}
header > nav > a:hover{
    background-color: rgba(131, 131, 138, 0.267);
    border-radius: 6px;
    padding: 4px;
}

main{
    background-color: rgb(18, 99, 31);
}
